.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br

  .container_viel{:align => 'center'}
    =image_tag('bychik.jpg',  :class => 'img-rounded', height: "100", width: "300", :alt => 'Бычик Виолетта', :title => 'Бычик Виолетта')
    %h3.OrangeRed Бычик Виолетта Вячеславовна
    %h4.black – руководитель центра, преподаватель лечебных техник и SPA методик, «Виртуоз России» V-го Чемпионата SPA массажа 2013г., Член жюри VIII Чемпионата России по массажу "Лучший СПА мастер 2014г."
    %h4.black дата рождения 17.07.1973 
    %h4.black стаж 20 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.OrangeRed Сертификаты Бычик Виолетты Вячеславовны
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('bychik1.gif',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('bychik2.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik3.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik4.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik5.JPG',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('bychik6.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik7.JPG',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('bychik8.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik9.JPG',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('bychik10.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik11.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik12.JPG',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('bychik15.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik16.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik17.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik18.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik13.JPG',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('bychik19.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik20.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik21.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('bychik14.JPG',  :class => 'class_large_my_2', height: "100", width: "156") 
                                  
    %br
    %a{:rel=>"simplebox", :href=>"/simplebox/imgs/simplebox.png", width: "300"}
      = image_tag("bychik2.JPG", width: "156")


  %br

         
