.masthead
  .container_viel.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    =image_tag('logotyp.png',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Чернякова Оксана', :title => 'Чернякова Оксана')
    %h3.orange Чернякова Оксана Николаевна
    %h4.white дата рождения 15.05.1974
    %h4.white стаж работы 4 года

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.orange Сертификаты Черняковой Оксаны Николаевны
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('chernyakova1.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('chernyakova2.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('chernyakova3.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('chernyakova4.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('chernyakova5.jpg',  :class => 'class_large_my_2', height: "100", width: "320")
            = image_tag('chernyakova6.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('chernyakova7.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('chernyakova10.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            %br
            = image_tag('chernyakova8.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('chernyakova9.jpg',  :class => 'class_large_my_2', height: "100", width: "156")


 
    %br
  %br

         
