.masthead

  .span3.orange{:'z-index'=> '10'} 
    %br

    %table.black{:border=>"1", :width=>500}
      %tr.darkorange{:bgcolor=> "white"}
        %th Имя
        %th Дата
        %th Отзыв
      - @feedbacks_list.each do |feedbacks|
        - if feedbacks.status == true
          %tr{:bgcolor=> "white"}
            %td 
              = User.find(feedbacks.user_id).name
            %td{:'font-size'=>'1'} 
              = feedbacks.created_at
            %td 
              = feedbacks.review
    %br
    %br


    - if !current_user
      %li.strong
        %h3
          = link_to 'Если хотите оставить отзыв, войдите под своим логином или зарегистрируйтесь.', login_path, :class => 'button'
    - if current_user
      %a{:href=>"#viel-modal", :role=>"button", :class=>"btn btn-large btn-primary", :'data-toggle'=>"modal", :align => 'center'} Оставить отзыв
      = render :partial => 'dialogs/feedbacks'

 


    %br
    %br 
    %br
    %br
    %br
    %br       
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")





