.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Галерея
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Центр красоты и здоровья "Виэль" предлагает Вам: эстетику тела, обертывание (горячее, холодное), антицеллюлитный, криомассаж, детский, логопедический, спортивный массаж, сколиоз, оздоровительный, остеохондроз и т. д."
    %br
    %br
    %br
    %br
    %br
 
    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.OrangeRed Наш коллектив
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner{:align => 'center'}
            =image_tag('viel1.JPG',  :class => 'img-rounded', height: "40", width: "160")
            = image_tag('viel2.JPG',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('cabinet1.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('cabinet2.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('cabinet3.jpg',  :class => 'img-rounded', height: "400", width: "160")


      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseTwo"} 
            %h3.OrangeRed Наши специалисты в работе
        #collapseTwo{:class => "accordion-body collapse"}
          .accordion-inner{:align => 'center'}
            =image_tag('spec1.jpg',  :class => 'img-rounded', height: "40", width: "160")
            = image_tag('spec2.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec3.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec4.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec5.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec6.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec7.jpg',  :class => 'img-rounded', height: "400", width: "160")
            %br
            %br

            = image_tag('spec8.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec12.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec13.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec14.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec18.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec22.jpg',  :class => 'img-rounded', height: "400", width: "160")
            %br
            %br
            = image_tag('spec9.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec10.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec11.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec15.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec16.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec17.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec19.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec20.jpg',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec21.jpg',  :class => 'img-rounded', height: "400", width: "110")
            %br
            %br
            = image_tag('spec24.jpg',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec25.JPG',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec26.JPG',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec27.JPG',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec28.JPG',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec30.JPG',  :class => 'img-rounded', height: "400", width: "160")
            = image_tag('spec31.JPG',  :class => 'img-rounded', height: "400", width: "160")
 
            %br
            %br
            = image_tag('spec23.JPG',  :class => 'img-rounded', height: "400", width: "110")
            = image_tag('spec29.JPG',  :class => 'img-rounded', height: "400", width: "110")




      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseThree"} 
            %h3.OrangeRed Наши клиенты
        #collapseThree{:class => "accordion-body collapse"}
          .accordion-inner{:align => 'center'}
            = image_tag('client1.JPG',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('client2.JPG',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('client3.JPG',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('client5.JPG',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('client6.JPG',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('client7.JPG',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('client4.JPG',  :class => 'img-rounded', height: "400", width: "110")

      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseFour"} 
            %h3.OrangeRed Чемпионат России по SPA массажу "Лучший SPA мастер 2014" 15-17.05.14
        #collapseFour{:class => "accordion-body collapse"}
          .accordion-inner{:align => 'center'}
            = image_tag('champ1.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ2.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ3.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ4.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ5.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ6.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ7.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ8.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ9.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ10.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ11.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ12.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ13.jpg',  :class => 'img-rounded', height: "400", width: "170")
            = image_tag('champ14.jpg',  :class => 'img-rounded', height: "400", width: "170")
            %br
            %br
            
      





