.masthead
  .container_viel2.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Галерея
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} "Центр красоты и здоровья "Виэль" предлагает Вам: эстетику тела, обертывание (горячее, холодное), антицеллюлитный, криомассаж, детский, логопедический, спортивный массаж, сколиоз, оздоровительный, остеохондроз и т. д."
    %br
    %br
    %br
    %br
    %br
 
    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.orange Наш коллектив
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner
            =image_tag('viel1.JPG',  :class => 'img-rounded', height: "40", width: "150")
            = image_tag('viel2.JPG',  :class => 'img-rounded', height: "400", width: "150")
            = image_tag('cabinet1.jpg',  :class => 'img-rounded', height: "400", width: "150")
            = image_tag('cabinet2.jpg',  :class => 'img-rounded', height: "400", width: "150")
            = image_tag('cabinet3.jpg',  :class => 'img-rounded', height: "400", width: "150")
            = image_tag('shower.jpg',  :class => 'img-rounded', height: "400", width: "66")

      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseTwo"} 
            %h3.orange Наши специалисты в работе
        #collapseTwo{:class => "accordion-body collapse"}
          .accordion-inner
            =image_tag('our_experts_1.JPG',  :class => 'img-rounded', height: "40", width: "150")
            = image_tag('our_experts_2.JPG',  :class => 'img-rounded', height: "400", width: "150")



      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseThree"} 
            %h3.orange Другое
        #collapseThree{:class => "accordion-body collapse"}
          .accordion-inner
            =image_tag('viel1.JPG',  :class => 'img-rounded', height: "40", width: "150")
            = image_tag('viel2.JPG',  :class => 'img-rounded', height: "400", width: "150")
            = image_tag('cabinet1.jpg',  :class => 'img-rounded', height: "400", width: "150")
            = image_tag('cabinet2.jpg',  :class => 'img-rounded', height: "400", width: "150")


      





