.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    =image_tag('mbutuka.jpg',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Мбутука Роман', :title => 'Мбутука Роман')
    %h3.black Мбутука Роман Чолавич 
    %h4.black В 2006 году окончил Ейский медицинский колледж,где получил специальности "Медицинский массаж","Фельдшер","Физиотерапия".
    %h4.black В 2008 году Участвовал в lll Южно-Российском чемпионате "Лучший Спа-Мастер 2008"
    %h4.black С 2009-2014 год являлся Спа-Специалистом в отеле "Гамма"
    %h4.black В 2013 году окончил Кубанский Медицинский Университет,где получил специальность "Провизор"
    %h4.black В 2014 году стал призёром на Чемпионате России по массажу "Лучший Спа-мастер 2014" в номинации "За творчество и экзотику исполнения"
    %h4.black В 2014 году стал призёром на "Vlll Международном Чемпионате по Спа-Массажу" победитель в номинации "Выбор зрителей" 
    %h4.black дата рождения 11.07.1985
    %h4.black стаж работы более 10 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.OrangeRed Сертификаты Мбутука Романа Чолавича
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('mbutuka1.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka2.JPG',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('mbutuka4.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka3.JPG',  :class => 'class_large_my_2', height: "100", width: "156")

            = image_tag('mbutuka5.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('mbutuka6.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka7.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka8.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('mbutuka9.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka10.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('mbutuka11.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka12.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

    %br
  %br

         
