.masthead
  .container_viel.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    .span3
      =image_tag('logotyp.png',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Мбутука Роман', :title => 'Мбутука Роман')
      %p.white Мбутука Роман Чолавич, дата рождения 11.07.1985, стаж работы 9 лет
    .span9
      #myCarousel{:class=>"carousel slide"}
        %ol{:class=>"carousel-indicators"}
          %li{:'data-target'=>"#myCarousel", :'data-slide-to'=>"0", :class=>"active"}

        .carousel-inner
          .item.active
            =image_tag('',  :class => 'img-rounded', height: "100", width: "200")

          .item
            = image_tag('',  :class => 'img-rounded', height: "100", width: "390")

          .item
            = image_tag('bychik3.JPG',  :class => 'img-rounded', height: "100", width: "390")

          .item
            = image_tag('bychik4.JPG',  :class => 'img-rounded', height: "100", width: "395")

          .item
            = image_tag('bychik5.JPG',  :class => 'img-rounded', height: "100", width: "208")

          .item
            = image_tag('bychik6.JPG',  :class => 'img-rounded', height: "100", width: "400")

          .item
            = image_tag('bychik7.JPG',  :class => 'img-rounded', height: "100", width: "200")

          .item
            = image_tag('bychik8.JPG',  :class => 'img-rounded', height: "100", width: "400")

          .item
            = image_tag('bychik9.JPG',  :class => 'img-rounded', height: "100", width: "207")


          %a{:class=>"carousel-control left", :href=>"#myCarousel", :'data-slide'=>"prev"} &lsaquo;
          %a{:class=>"carousel-control right", :href=>"#myCarousel", :'data-slide'=>"next"} &rsaquo;
  
    %br
  %br

         
