.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    =image_tag('rudenko.jpg',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Руденко Светлана', :title => 'Руденко Светлана')
    %h3.OrangeRed Руденко Светлана Владимировна
    %h4.black 21.12.1983г.
    %h4.black стаж работы 7 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.OrangeRed Сертификаты Руденко Светланы Владимировны
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('rudenko1.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko2.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko3.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('rudenko4.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko5.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko6.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko7.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko8.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko9.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko10.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko11.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('rudenko12.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko13.jpg',  :class => 'class_large_my_2', height: "100", width: "156")

            = image_tag('rudenko14.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko15.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko16.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko17.jpg',  :class => 'class_large_my_2', height: "100", width: "156")

            = image_tag('rudenko18.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko19.jpg',  :class => 'class_large_my_2', height: "100", width: "156")

            = image_tag('rudenko20.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko21.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko22.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko23.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko24.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko25.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('rudenko26.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('rudenko27.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

 
    %br
  %br

         
