.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br

  .container_viel{:align => 'center'}
    =image_tag('yakubjanova.JPG',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Якубджанова София', :title => 'Якубджанова София')
    %h3.OrangeRed Якубджанова София Рафиковна
    %h4.black дата рождения 18.07.1979
    %h4.black стаж 6 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.OrangeRed Сертификаты Якубджановой Софии Рафиковны
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('yakubjanova1.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('yakubjanova2.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('yakubjanova7.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('yakubjanova3.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('yakubjanova4.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('yakubjanova5.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('yakubjanova6.jpg',  :class => 'class_large_my_2', height: "100", width: "300")


    %br
    %a{:rel=>"simplebox", :href=>"/simplebox/imgs/simplebox.png", width: "300"}
      = image_tag("bychik2.JPG", width: "156")


  %br

         
