.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    =image_tag('zadorozhnaya.JPG',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Задорожная Вероника', :title => 'Задорожная Вероника')
    %h3.OrangeRed Задорожная Вероника Витальевна
    %h4.black дата рождения 04.05.1977
    %h4.black стаж работы 14 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.orange Сертификаты Задорожной Вероники Витальевны
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('zadorozhnaya1.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya2.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya3.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('zadorozhnaya4.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya5.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya7.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya10.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya8.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya9.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya10.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya11.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('zadorozhnaya13.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya14.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('zadorozhnaya16.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya17.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya18.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya19.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya20.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya21.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya22.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya23.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya24.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya25.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya26.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya27.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya28.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya29.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('zadorozhnaya30.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('zadorozhnaya6.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('zadorozhnaya15.jpg',  :class => 'class_large_my_2', height: "100", width: "156")
            = image_tag('zadorozhnaya12.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

 
    %br
  %br

         
