
%li{:class => set_active_if(:home, @menu_item)}
  =link_to 'Главная', home_viel_index_path, :class => 'button_viel'
%br
%br
%li
  = link_to 'Меню администратора', admin_path, :class => 'button_viel'
%br
%br
%h2.white  Отзывы
%br

%table.white{:border=>"1"}
  %tr
    %th Имя
    %th Логин
    %th Отзыв
    %th Статус для отображения
    %th Дата создания отзыва
    %th
  - @feedbacks_list.each do |feedbacks|
    %tr
      %td 
        = User.find(feedbacks.user_id).name
      %td 
        = User.find(feedbacks.user_id).nickname
      %td 
        = feedbacks.review
      %td 
        - if feedbacks.status
          отображать
        - elsif 
          не отображать
      %td 
        = feedbacks.created_at.strftime("%d/%m/%y %H:%M")
      %td 
        = link_to 'Удалить', feedbacks, method: :delete, data: {confirm: "Вы уверены?"}
      %td 
        = link_to 'Изменить статус', feedbacks, method: :patch, data: {confirm: "Вы уверены?"}

