%p 
  Клиент
  = @appointment.name 

%p 
  подал заявку на процедуру
  = @appointment.procedure
  к специалисту
  = @appointment.specialist
  Желательно связаться с ним в
  = @appointment.bell
  Телефон для связи:
  = @appointment.phone
  E-mail для связи:
  = @appointment.email

