!!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:property => "og:*", :content => "..."}


    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %meta{:name => "author", :content => ""}
    %meta{:name=>"google-site-verification", :content=>"_gzYyKL1UKQhkHlYNPFfeRw89jJYx89meWwwGKrKCd4"}


    = stylesheet_link_tag 'application', :media => 'all', :"data-turbolinks-eval" => false
    = javascript_include_tag 'application', :"data-turbolinks-eval" => false
    = csrf_meta_tags
    = render :partial => 'layouts/simplebox'

    %script{src: "//vk.com/js/api/openapi.js?105", type: "text/javascript"}
    :javascript
      VK.init({apiId: 4224369, onlyWidgets: true});

    <!-- Yandex.Metrika informer -->
    %a{:href=>"https://metrika.yandex.ru/stat/?id=32179554&amp;from=informer", :target=>"_blank", :rel=>"nofollow", :"img src"=>"https://informer.yandex.ru/informer/32179554/3_0_FFFFFFFF_EFEFEFFF_0_pageviews", :style=>"width:88px; height:31px; border:0;", :alt=>"Яндекс.Метрика", :title=>"Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)", :onclick=>"try{Ya.Metrika.informer({i:this,id:32179554,lang:'ru'});return false}catch(e){}"}
    <!-- /Yandex.Metrika informer -->


    <!-- Yandex.Metrika counter -->
    %script{type: "text/javascript"}
      :javascript
        !function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter32179554 = new Ya.Metrika({
                        id:32179554,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true,
                        ut:"noindex"
                    });
                } catch(e) { }
            };

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");

    <!-- /Yandex.Metrika counter -->

    

  %body.background_viel2_1{:class => controller_name, :onload=>'ODKL.init()'}
    #fb-root
    .container
      .masthead
        %h3.OrangeRed
          = link_to image_tag('head1.jpg',  :class => 'img-rounded', height: "77", width: "670"), root_url, data: {'no-turbolink' => true, :'font-family' => 'font_viel_emblema'}
         
          //= link_to '"Виэль", центр красоты и здоровья', root_url, data: {'no-turbolink' => true, :'font-family' => 'font_viel_emblema', :align => 'center'}

          =link_to image_tag('sertificate.jpg',  :class => 'img-rounded', height: "77", width: "350", :align => 'right'), gift_certificate_viel_index_path
          .container{:align => 'right'}

  
          
      - if !current_page?(action: "index", controller: "admin") && !current_page?(action: "admin_appointments", controller: 'admin') && !current_page?(action: "admin_gifts", controller: 'admin') && !current_page?(action: "admin_users", controller: 'admin') && !current_page?(action: "admin_feedbacks", controller: 'admin')
        .masthead
          = render :partial => 'layouts/menu'


          - if !current_page?(action: "index", controller: "admin") && !current_page?(action: "admin_appointments", controller: 'admin') && !current_page?(action: "admin_gifts", controller: 'admin') && !current_page?(action: "admin_users", controller: 'admin') && !current_page?(action: "admin_feedbacks", controller: 'admin') 
            = render :partial => 'layouts/side_menu'



      = yield  

 

      %footer
        %hr
        %p= '&copy; 2013. Ruby on Rails'.html_safe


      <!-- Yandex.Metrika informer -->
      %a{:href=>"https://metrika.yandex.ru/stat/?id=32179554&amp;from=informer", :target=>"_blank", :rel=>"nofollow", :"img src"=>"https://informer.yandex.ru/informer/32179554/3_0_FFFFFFFF_EFEFEFFF_0_pageviews", :style=>"width:88px; height:31px; border:0;", :alt=>"Яндекс.Метрика", :title=>"Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)", :onclick=>"try{Ya.Metrika.informer({i:this,id:32179554,lang:'ru'});return false}catch(e){}"}
      <!-- /Yandex.Metrika informer -->

